# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 56f8e05394d934ca7bfe2bf6c6d86a640bd6d1455c7c4166faf3328e693e633f245a093ff10ef55db9682c48d8c904225f37279e5cf94cd4036b7e0d67b958bf

test:
  secret_key_base: c512808a4373ed40182f26ebcfd4af541cbf63b133ea65f67ea29a106fae9df4b34fb7052a79494b30629a79cbdb938136fc5e6e1e300476de7ca9c1ad6d5aa2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
